page-movies-detail {
    .content-md {
        color: #fff;
        background-color: map-get($colors, primary);
        text-align: center;
    }
    .content-ios{
        color: #fff;
        background-color: map-get($colors, primary);
        text-align: center;
    }
    .toolbar-title-ios {
        color: map-get($colors, primary);
    }
    .toolbar-title-md {
        color: map-get($colors, primary);
    }
    img {
        max-width: 100%;
        border: 0;
        margin-top: 20px;
        display: block;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    h4 {
        font-size: 2rem;
        text-align: center;
    }
    .videowrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        background-color: #000000;
    }
    .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
